.header {
  grid-area: header;
  background-color: grey;
  display: grid;
  grid-template-columns: 2fr 10fr;


}

.header img {
  height: 60px;
}

.text {
  font-size: 16pt;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder
}