.appWraper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}




.appNav {
  grid-area: nav;
  background-color: blue;
}

.appContent {
  grid-area: content;
  background-color: greenyellow;
}